{% extends "BourseBundle::layout.html.twig" %}

{% block title %} Depot {% endblock %}


{% block body %}


<section class="content">

	<div class="wrap">
		<form method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
			<input type="submit" class="btn btn-primary" />
		</form>
	</div>

</section>


{% endblock %}

