{% extends "BourseBundle::layout.html.twig" %}

{% block title %} Erreur {% endblock %}


{% block body %}

<section class="content">

	<div class="wrap">

		<h1>Cette page n'existe pas.</h1>

	</div>

</div>

</section>


{% endblock %}

