{% extends "BourseBundle::layout.html.twig" %}

{% block title %} Tableau de Bord {% endblock %}

{% block body %}


<section class=" intro wrap">
	<p>
		Ma bourse
	</p>
	<a href="{{ path('bourse_closeBourse') }}"> <button class="btn btn-large btn-warning" type="button"><i class="icon-off"></i> Fermer cette bourse</button> </a>
</section>


<section class="content">

	<div class="wrap">

		lol

	</div>

</section>

{% endblock %}

