{% extends "BourseBundle::layout.html.twig" %}

{% block title %} Depot {% endblock %}


{% block body %}


<section class="content">

	<div class="wrap ">
		<fieldset>
			<legend>Saisir l'ID d'un produit</legend>
			<form class="form-search">
				<input type="text" class="input">
				<button type="submit" class="btn">Search</button>
			</form>
		</fieldset>
	</div>

</section>


{% endblock %}

