{% extends "BourseBundle::layout.html.twig" %}

{% block title %} Accueil {% endblock %}


{% block body %}

<section id="intro" class="wrap">
	Bienvenue sur la bourse en ligne !
</section>

<section class="article">
	<div class="wrap">
		<h1>
			Un petit article
		</h1>
	</div>
</section>

<section class="article">
	<div class="wrap">
		<h1>
			Un petit article
		</h1>
	</div>
</section>

<section class="article">
	<div class="wrap">
		<h1>
			Un petit article
		</h1>
	</div>
</section>


	



{% endblock %}

