{% extends "BourseBundle::layout.html.twig" %}

{% block title %} Accueil {% endblock %}


{% block body %}

<section id="intro" class="wrap">
	Bienvenue sur la bourse en ligne !
</section>

<section class="article">
	<div class="wrap">
		<h1>
			Un petit article
		</h1>
		<p>
		  <button class="btn btn-large btn-primary" type="button">Large button</button>
		  <button class="btn btn-large" type="button">Large button</button>
		</p>
		<div class="progress progress-striped active">
		  <div class="bar" style="width: 40%;"></div>
		</div>
	</div>
</section>

<section class="article">
	<div class="wrap">
		<h1>
			Un petit article
		</h1>
		<div class="btn-group">
		  <button class="btn btn-mini">Action</button>
		  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		    <li>ok</li>
		    <li>ok</li>
		    <li>ok</li>
		  </ul>
		</div>
	</div>
</section>

<section class="article">
	<div class="wrap">
		<h1>
			Un petit article
		</h1>
	</div>
</section>


	



{% endblock %}

